In [1]:
import pandas as pd
posts_df = pd.read_csv('data/posts.csv')

In [2]:
posts_df.head()

,Unnamed: 0,age,comment,likes/views,link,promo,user
0,0,2 DAYS AGO,found my new favorite park!,"405,059 likes",/BytNlrQhRx8/,0,chrissyteigen
1,1,3 DAYS AGO,Happy bebe!,"1,739,218",/Byqz8uZh73s/,0,chrissyteigen
2,2,5 DAYS AGO,coated in a paste of fresh garlic and filled w...,"2,931,603",/BymErW1B9eL/,0,chrissyteigen
3,3,5 DAYS AGO,this kid,"371,095 likes",/Byl-aHjBXFX/,0,chrissyteigen
4,4,JUNE 8,home tomorrow ðŸ˜©,"859,039 likes",/ByduG0BB_A3/,0,chrissyteigen

In [4]:
bert_posts_df = posts_df[['comment','promo']]

In [7]:
bert_posts_df = bert_posts_df.assign(id=(bert_posts_df['comment']).astype('category').cat.codes)

In [9]:
bert_posts_df['letter'] = 'B'

In [10]:
bert_posts_df.head()

                                             comment  promo   id letter
0                        found my new favorite park!      0  962      B
1                                        Happy bebe!      0  311      B
2  coated in a paste of fresh garlic and filled w...      0  956      B
3                                           this kid      0  988      B
4                                    home tomorrow ðŸ˜©      0  967      B

In [13]:
bert_posts_df_train = bert_posts_df[['id','promo','letter','comment']]

In [14]:
bert_posts_df_train.head()

    id  promo letter                                            comment
0  962      0      B                        found my new favorite park!
1  311      0      B                                        Happy bebe!
2  956      0      B  coated in a paste of fresh garlic and filled w...
3  988      0      B                                           this kid
4  967      0      B                                    home tomorrow ðŸ˜©

In [15]:
bert_posts_df_train.to_csv('train.csv')

In [16]:
df = pd.read_csv('train.csv')
df.to_csv('data/train.tsv', sep='\t', index=False, header=False)

In [17]:
! export BERT_BASE_DIR=./path/to/weights/downloaded/in/step2