In [127]:
import pandas as pd
import pickle
import sklearn
from sklearn.model_selection import train_test_split

In [128]:
posts_df = pd.read_csv('data/posts.csv')
posts_df.head()

,Unnamed: 0,age,comment,likes/views,link,promo,user
0,0,2 DAYS AGO,found my new favorite park!,"405,059 likes",/BytNlrQhRx8/,0,chrissyteigen
1,1,3 DAYS AGO,Happy bebe!,"1,739,218",/Byqz8uZh73s/,0,chrissyteigen
2,2,5 DAYS AGO,coated in a paste of fresh garlic and filled w...,"2,931,603",/BymErW1B9eL/,0,chrissyteigen
3,3,5 DAYS AGO,this kid,"371,095 likes",/Byl-aHjBXFX/,0,chrissyteigen
4,4,JUNE 8,home tomorrow ðŸ˜©,"859,039 likes",/ByduG0BB_A3/,0,chrissyteigen

In [129]:
bert_posts_df = posts_df[['comment','promo']]

In [130]:
bert_posts_df['id'] = bert_posts_df.index

/Users/sherzyang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [131]:
bert_posts_df['letter'] = 'a'

/Users/sherzyang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [132]:
bert_posts_df.head()

                                             comment  promo  id letter
0                        found my new favorite park!      0   0      a
1                                        Happy bebe!      0   1      a
2  coated in a paste of fresh garlic and filled w...      0   2      a
3                                           this kid      0   3      a
4                                    home tomorrow ðŸ˜©      0   4      a

In [133]:
bert_posts_df = bert_posts_df[['id','promo','letter','comment']]

In [134]:
bert_posts_df.head()

   id  promo letter                                            comment
0   0      0      a                        found my new favorite park!
1   1      0      a                                        Happy bebe!
2   2      0      a  coated in a paste of fresh garlic and filled w...
3   3      0      a                                           this kid
4   4      0      a                                    home tomorrow ðŸ˜©

In [135]:
X = bert_posts_df[['id','letter','comment']]
y = bert_posts_df['promo']

In [136]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=12)

In [137]:
y_train.head()

555    1
367    0
56     1
381    0
334    1
Name: promo, dtype: int64

In [138]:
X_train['promo'] = y_train

/Users/sherzyang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [139]:
X_test['promo'] = y_test

/Users/sherzyang/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [140]:
posts_train_df = X_train

In [141]:
X_train.shape

(958, 4)

In [142]:
posts_dev_df = X_test

In [143]:
X_test.shape

(107, 4)

### Getting the dataframes into files

Train

In [147]:
posts_train_df.isna().sum()

id         0
letter     0
comment    0
promo      0
dtype: int64

In [148]:
posts_train_df.to_csv('data/bert/bert_data/train.csv')

In [149]:
train_df = pd.read_csv('data/bert/bert_data/train.csv')

In [150]:
train_df.to_csv('data/bert/bert_data/train.tsv', sep='\t', index=False, header=False)

Dev/ Validation

In [151]:
posts_dev_df.isna().sum()

id         0
letter     0
comment    0
promo      0
dtype: int64

In [152]:
posts_dev_df.to_csv('data/bert/bert_data/dev.csv')

In [153]:
dev_df = pd.read_csv('data/bert/bert_data/dev.csv')

In [154]:
dev_df.to_csv('data/bert/bert_data/dev.tsv', sep='\t', index=False, header=False)

Test

In [155]:
test_df = pickle.load(open('data/testing_posts.pkl', 'rb'))

In [156]:
test_df.head()

,age,comment,likes/views,link,promo,user
0,7 HOURS AGO,Summer is a great time to freshen up the kidsâ€™...,"99,928 likes",/By2uv66lhLI/,1,joannagaines
1,1 DAY AGO,They all look up to you so much @chipgaines Yo...,"421,056 likes",/Byy6YMplLMb/,0,joannagaines
2,2 DAYS AGO,Happy Father's Day to the plant daddy of all p...,"253,574 likes",/ByyNXAuFuQs/,0,joannagaines
3,6 DAYS AGO,Yâ€™all really stepped up to the #ChipInChalleng...,"257,060 likes",/ByoEp79lJYX/,0,joannagaines
4,7 DAYS AGO,One more push yâ€™all! We have til midnight CT t...,"176,897 likes",/ByleDigFgFA/,1,joannagaines

In [157]:
test_df = test_df[['comment','promo']]

In [158]:
test_df['id'] = test_df.index

In [159]:
test_df['letter'] = 'a'

In [160]:
test_df = test_df[['id','comment']]

In [161]:
test_df.head()

   id                                            comment
0   0  Summer is a great time to freshen up the kidsâ€™...
1   1  They all look up to you so much @chipgaines Yo...
2   2  Happy Father's Day to the plant daddy of all p...
3   3  Yâ€™all really stepped up to the #ChipInChalleng...
4   4  One more push yâ€™all! We have til midnight CT t...

In [162]:
test_df.isna().sum()

id         0
comment    0
dtype: int64

In [163]:
test_df.to_csv('data/bert/bert_data/test.tsv', sep='\t', index=False, header=False)

### Importing Bert

In [167]:
! pip install keras-bert

Collecting keras-bert
  Downloading https://files.pythonhosted.org/packages/8a/f3/c1a94126c1bf91b0e259f28f40e3999c6f301814842accea5e46180fb206/keras-bert-0.63.0.tar.gz
Requirement already satisfied: numpy in /Users/sherzyang/anaconda3/lib/python3.7/site-packages (from keras-bert) (1.16.4)
Requirement already satisfied: Keras in /Users/sherzyang/anaconda3/lib/python3.7/site-packages (from keras-bert) (2.2.4)
Collecting keras-transformer>=0.28.0 (from keras-bert)
  Downloading https://files.pythonhosted.org/packages/2d/19/411e85e932753d2542f09df5454c320592e15e915488979ee37f6f0f141b/keras-transformer-0.28.0.tar.gz
Requirement already satisfied: pyyaml in /Users/sherzyang/anaconda3/lib/python3.7/site-packages (from Keras->keras-bert) (5.1)
Requirement already satisfied: scipy>=0.14 in /Users/sherzyang/anaconda3/lib/python3.7/site-packages (from Keras->keras-bert) (1.2.1)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /Users/sherzyang/anaconda3/lib/python3.7/site-packages (from Keras->keras-bert) (1.1.0)
Requirement already satisfied: keras-applications>=1.0.6 in /Users/sherzyang/anaconda3/lib/python3.7/site-packages (from Keras->keras-bert) (1.0.8)
Requirement already satisfied: six>=1.9.0 in /Users/sherzyang/anaconda3/lib/python3.7/site-packages (from Keras->keras-bert) (1.12.0)
Requirement already satisfied: h5py in /Users/sherzyang/anaconda3/lib/python3.7/site-packages (from Keras->keras-bert) (2.9.0)
Collecting keras-pos-embd>=0.10.0 (from keras-transformer>=0.28.0->keras-bert)
  Downloading https://files.pythonhosted.org/packages/09/70/b63ed8fc660da2bb6ae29b9895401c628da5740c048c190b5d7107cadd02/keras-pos-embd-0.11.0.tar.gz
Collecting keras-multi-head>=0.20.0 (from keras-transformer>=0.28.0->keras-bert)
  Downloading https://files.pythonhosted.org/packages/3b/0f/f1a66974db9c328ba675c1df63f8a68c5c0f3e181f1e74db4f3b1a72a6df/keras-multi-head-0.20.0.tar.gz
Collecting keras-layer-normalization>=0.12.0 (from keras-transformer>=0.28.0->keras-bert)
  Downloading https://files.pythonhosted.org/packages/95/76/42878fe46bff8458d8aa1da50bfdf705d632d33dbb7b60db52a06faf2dad/keras-layer-normalization-0.12.0.tar.gz
Collecting keras-position-wise-feed-forward>=0.5.0 (from keras-transformer>=0.28.0->keras-bert)
  Downloading https://files.pythonhosted.org/packages/51/a8/b9dec35117d0fb16d07bd8c216540c4ab42e93dd3d9ca43345cb01bbdc3f/keras-position-wise-feed-forward-0.5.0.tar.gz
Collecting keras-embed-sim>=0.7.0 (from keras-transformer>=0.28.0->keras-bert)
  Downloading https://files.pythonhosted.org/packages/bc/20/735fd53f6896e2af63af47e212601c1b8a7a80d00b6126c388c9d1233892/keras-embed-sim-0.7.0.tar.gz
Collecting keras-self-attention==0.41.0 (from keras-multi-head>=0.20.0->keras-transformer>=0.28.0->keras-bert)
  Downloading https://files.pythonhosted.org/packages/1b/1c/01599219bef7266fa43b3316e4f55bcb487734d3bafdc60ffd564f3cfe29/keras-self-attention-0.41.0.tar.gz
Building wheels for collected packages: keras-bert, keras-transformer, keras-pos-embd, keras-multi-head, keras-layer-normalization, keras-position-wise-feed-forward, keras-embed-sim, keras-self-attention
  Building wheel for keras-bert (setup.py) ... done
  Stored in directory: /Users/sherzyang/Library/Caches/pip/wheels/52/98/eb/8e07a5219e6e4a821bddec2d3f26b75e77c5b154c3288311ec
  Building wheel for keras-transformer (setup.py) ... done
  Stored in directory: /Users/sherzyang/Library/Caches/pip/wheels/1d/f5/c3/d587eca2ebf2f2b9252aed973efb28bb0c05cc327630e0a4c9
  Building wheel for keras-pos-embd (setup.py) ... done
  Stored in directory: /Users/sherzyang/Library/Caches/pip/wheels/5b/a1/a0/ce6b1d49ba1a9a76f592e70cf297b05c96bc9f418146761032
  Building wheel for keras-multi-head (setup.py) ... done
  Stored in directory: /Users/sherzyang/Library/Caches/pip/wheels/95/49/02/4eda210bc4c37ff1d45311665bceb790881dbea92b27b025a5
  Building wheel for keras-layer-normalization (setup.py) ... done
  Stored in directory: /Users/sherzyang/Library/Caches/pip/wheels/c3/9b/9e/f4072915f660e90bb3638332276f4de80476f3afcb5d010d6f
  Building wheel for keras-position-wise-feed-forward (setup.py) ... done
  Stored in directory: /Users/sherzyang/Library/Caches/pip/wheels/3a/58/cc/007f963a01c8304c793f9e887d50ff6e7c495343287c01a6a2
  Building wheel for keras-embed-sim (setup.py) ... done
  Stored in directory: /Users/sherzyang/Library/Caches/pip/wheels/d1/bc/b1/b0c45cee4ca2e6c86586b0218ffafe7f0703c6d07fdf049866
  Building wheel for keras-self-attention (setup.py) ... done
  Stored in directory: /Users/sherzyang/Library/Caches/pip/wheels/cc/dc/17/84258b27a04cd38ac91998abe148203720ca696186635db694
Successfully built keras-bert keras-transformer keras-pos-embd keras-multi-head keras-layer-normalization keras-position-wise-feed-forward keras-embed-sim keras-self-attention
Installing collected packages: keras-pos-embd, keras-self-attention, keras-multi-head, keras-layer-normalization, keras-position-wise-feed-forward, keras-embed-sim, keras-transformer, keras-bert
Successfully installed keras-bert-0.63.0 keras-embed-sim-0.7.0 keras-layer-normalization-0.12.0 keras-multi-head-0.20.0 keras-pos-embd-0.11.0 keras-position-wise-feed-forward-0.5.0 keras-self-attention-0.41.0 keras-transformer-0.28.0

In [171]:
import tensorflow as tf
import tensorflow_hub as hub